.information-item{
                    padding:10px;margin:10px 0;
                    text-align:center; 
                    border: 2px solid rgba(52, 152, 219, 0.40);
                }

.information-button{  width: 100%;
                      padding:10px;margin:10px 0;
                      background-color: rgba(246, 75, 75, 0.69);
                      text-align:center;
                      color: white;  
                      border: 2px solid rgba(52, 152, 219, 0.40);
                   }

.col-1{display:inline-block;width:40%;text-align:left}

.col-1 p{margin:0 0 10px;padding:0;font-size:20px}


.col-2{display:inline-block;width:50%;vertical-align:top;text-align:right}
.col-2 p{margin:0 0 10px;padding:0; font-size:20px}
           