<header>
  <h1>{{information.name}}</h1>
</header>
<section class="task-list">
  <button class="information-button" (click)="goBack()">
    <h1>GO BACK</h1>
  </button>
  <div class="information-item">
    <table class="info">
      <tr>
        <td >Rotation period:</td>
        <td>{{information.rotation_period}}</td>

      </tr>
      <tr>
        <td>Orbital period:</td>
        <td>{{information.orbital_period}}</td>
      </tr>
      <tr>
        <td>Diameter:</td>
        <td>{{information.diameter}}</td>
      </tr>
      <tr>
        <td>Climate:</td>
        <td>{{information.climate}}</td>
      </tr>
      <tr>
        <td>Gravity:</td>
        <td>{{information.gravity}}</td>
      </tr>
      <tr>
        <td>Terrain:</td>
        <td>{{information.terrain}}</td>
      </tr>
      <tr>
        <td>Surface water:</td>
        <td>{{information.surface_water}}</td>
      </tr>
      <tr>
    </table>

    <!--<div class="col-1">-->
      <!--<p class="info">Surface water:</p>-->
    <!--</div>-->
    <!--<div class="col-2">-->
      <!--<p class="info">{{information.terrain}}</p>-->
      <!--<p class="info">{{information.surface_water}}</p>-->
    <!--</div>-->
  </div>
</section>

