.information-item {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border: 2px solid rgba(52, 152, 219, 0.40);
}

.information-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(246, 75, 75, 0.69);
  text-align: center;
  color: white;
  border: 2px solid rgba(52, 152, 219, 0.40);
}

.info {
  font-family: Arial;
  font-size: large;
  width: 100%;
}

.info td {
  padding: 15px;
  text-align: left;
}
